.add-board{
    width: 100%;
    margin:auto;
    position: relative;
    top:0;
    right:0;
    bottom: 0;
    .templates-container{

        margin-bottom:20px;
        // margin-top:20px;
       
      
    
    }
    .add-board-backgrounds{
        // max-width: 1200px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin:auto;

    }
    hr {
        max-width: 1200px;
        width: 90%;

    }


    .plus {
        width: 100px;
        font-size:60px;
        color:white;
        opacity: 0%;
        margin:auto;
        margin-top: 15%;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.484);
      
    }


    .backgrounds-tumbs{
        display:inline-block;
        cursor: pointer;
        transition: .5s ease-in-out;

        text-align: center;
        
        &:hover{
            transform: scale(1.05);
            // opacity: 90%;

        }
        &:hover .plus{
            display: block;
            opacity: 100%;
        }

    .backgrounds-tumbs::after{

            font-family: "fa";
            content: "\f00d";
        }
  
    }
    input {
        width: 348px;
        height: 35px;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 20px;  
    }

    .save-btn {
        width: 348px;
        height: 35px;
        border-radius: 3px;
        margin-top: 10px;
        background-color: #62BD50;
        color:white;
        &:hover{
            background-color: #51c13a;
        }

    }
    .cancel-btn {
        width: 348px;
        height: 35px;
        border-radius: 3px;
        margin-top: 10px;
        background-color: #313EA0;

    }


    form > * {
        display: block;
        margin: auto;
    }

 
   
}