.main-header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.app-header {
    z-index: 2;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.32);
    position: relative;
    padding: 4px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h5 {
        font-family: "TechMono", monospace;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 12px;
        color: #fff;
        margin: 0;
        display: inline-block;
    }

    h3 {
        font-family: "TechMono", monospace;
        color: rgba(255, 255, 255, 0.8);
        line-height: 32px;
        margin: 0;
        position: fixed;
        right: 50%;
        transition: translate(50%);
        text-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    }

    button,
    span {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.3);
        color: #ffff;
        font-weight: 700;
        line-height: 32px;
        margin: 0 4px 0 0;
        padding: 0 4px;
        border-radius: 3px;
    }

    // span {
    //     top: 1.5px;
    //     position: relative;
    // }

    input {
        color: #ffff;
        padding: 4px 0;
        margin-right: 4px;
        background-color: rgba(255, 255, 255, 0);
    }
    label {
        padding: 0;
    }

    label::after {
        font-family: "fa";
        content: "\f002";
    }

    .header-home::before {
        font-family: "fa";
        content: "\f015";
    }
    .header-board::before {
        font-family: "fa";
        content: "\f0db";
    }
    .header-user::before {
        font-family: "fa";
        content: "\f007";
    }
    .header-about-us::before {
        font-family: "fa";
        content: "\f05a";
    }
    .header-show-menu::before {
        font-family: "fa";
        content: "\f141";
    }

    .user-img {
        display: inline-block;
        height: 32px;
        width: 32px;
        border-radius: 2em;
        background-size: cover;
        background-position: center;
    }

    &.board-header {
        padding: 8px 4px 4px 8px;
        background: rgba(0, 0, 0, 0.24);
    }
    h3 {
        display: inline-block;
    }

    // display: flex;
    // justify-content: space-between;
    // user-select: none;
    // white-space: nowrap;
    // margin-bottom: 8px;
    // overflow-x: auto;
    // overflow-y: hidden;
    // padding-bottom: 8px;
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // .logo-header {
    //     width: 50%;
    //     font-family: "Share Tech Mono", monospace;
    //     font-size: 2rem;
    //     color: $clr6;
    //     padding: 8px;
    //     margin-left: 8px;
    // }
    // h3 span {
    //     font-family: "Share Tech Mono", monospace;
    //     font-size: 2rem;
    //     font-weight: 600;
    //     color: #ce2e6c;
    // }
    // .navbar-links {
    //     width: 25%;
    //     font-family: "Roboto", sans-serif;
    //     font-size: 1rem;
    //     color: $clr6;
    //     padding: 12px;
    //     display: inline-block;
    // }

    // a {
    //     color: $clr6;
    // }

    // .user-avatar {
    //     width: 32px;
    //     height: 32px;
    //     margin-right: 20px;
    //     border-radius: 50%;
    //     padding: 5px;
    // }
}
