.card-preview{
    width: 250px;
    min-height: 40px;
    background-color: #fff;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 5px;
    border:0px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    outline: none;
    &:hover{
        background-color: #F4F5F7;
    }


    button.delete-card{
        border-radius: 50%;
        padding: 5px 9px;
        background-color: #fff;
        color:  rgb(101, 101, 101);
        &:hover{
            background-color: #F4F5F7;
        }
    }

    button.delete-card::after{
      font-family: "fa";
      content: "\f2ed";
    }


    p{
        max-width: 230px;
    }
}