.card-preview{
    width: 250px;
    height: 40px;
    background-color: #fff;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 5px;
    border:0px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    outline: none;
}