.edit-group-container {
    width: 107px;
    background: #f08989;
    position: fixed;
    z-index: 4;
    border-radius: 3px;
    margin-left: 209px;
    min-height: 100px;
    margin-left: 100;
  


}