@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.boards {
    background-color: #fafbfc;
    text-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    padding: 30px;
    flex-grow: 1;
    color: $clr6;
    h1 {
        margin: auto;
        font-family: "TechMono";
        margin-bottom: 30px;
        text-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        text-align: center;
        @media (max-width: $mobile-breakpoint) {
            font-size: 50px;
        }
        span {
            font-size: 14px;
        }
    }

    .add-board-btn {
        display: inline-block;
        height: 95px;
        width: 170px;
        background-color: #5e6c84;
    }
    button {
        height: 95px;
        width: 170px;
        background-color: #5e6c84;
    }

    h2 {
        font-family: "TechMono";
        font-size: 18px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    section {
        margin-bottom: 20px;
    }
    .boards-container {
        .board-get-started-container {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 4%;
            h1 {
                font-family: "Share Tech Mono", monospace;
                font-size: 60px;
            }
            h1::before {
                font-size: 52px;
                padding-right: 5px;

                font-family: "fa";
                content: "\f14a";
            }

            h3 {
                font-family: "Roboto", sans-serif;
                // background-color: $clr2;
                color: $clr6;
                font-size: 28px;
                font-weight: 200;
                padding: 20px;
                text-align: center;
                text-shadow: 2px 1px 2px rgb(137, 136, 137);
                margin-top: -50px;

                @media (max-width: $mobile-breakpoint) {
                    font-size: 20px;
                }
            }
        }
    }
}
